$CodGray-7: #111111;
$EerieBlack-13: #222222;
$OuterSpace-18: #292F35;
$Tundora-27: #444444;
$GraniteGray-40: #666666;
$Gray-53: #888888;
$SilverChalice-67: #AAAAAA;
$Concrete-95: #F2F2F2;
$Harp-95: #EFF7F0;
$White-97:#f6faf6;
$White-100: #FFFFFF;

$TropicalRainForest-26: #008458;
$Green-35:#0c8c8d;
$Green-60:#0e6b46;
